/*
The availability element extends the full width of the card, with a dark grey background and yellow text.
Visual example*/

body {
    background-color: cornflowerblue;
}

article.card-wrapper {
    width: 30%;
    border: 1px solid lightblue;
    margin: 5px auto;
    padding: 5px;
    display: inline-grid;
}

header h2 {
    border: 1px dotted lightgray;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

.justified {
    text-align: justified;
    font-size: 1em;
}

.bold {
    font-weight: bold;
    font-size: .65em;
}

p.availability {
    width: 100%;
    color: yellow;
    font-size: .7em;
    text-align: center;
    background-color: darkgray;
}

p {
    font-size: .7em;
}